<div class="row p-3">
  <div class="col-sm-3">
      <div class="card m-2">
          <div class="card-header"><h5>Total Sites</h5></div>
          <div class="card-body text-center">
              <h2>{{dashboardObj.totSites}}</h2>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card m-2">
          <div class="card-header"><h5>Total Users</h5></div>
          <div class="card-body text-center">
              <h2>{{dashboardObj.totUsers}}</h2>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card m-2">
          <div class="card-header"><h5>Total Clients</h5></div>
          <div class="card-body text-center">
              <h2>{{dashboardObj.totClients}}</h2>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card m-2">
          <div class="card-header"><h5>Total Parkings</h5></div>
          <div class="card-body text-center">
              <h2>{{dashboardObj.totParkings}}</h2>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card m-2">
          <div class="card-header"><h5>Todays Parkings</h5></div>
          <div class="card-body text-center">
              <h2>{{dashboardObj.todaysParkings}}</h2>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card m-2">
          <div class="card-header"><h5>Todays Amount</h5></div>
          <div class="card-body text-center">
              <h2>{{dashboardObj.todaysAmount}}</h2>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card m-2">
          <div class="card-header"><h5>Total Amount</h5></div>
          <div class="card-body text-center">
              <h2>{{dashboardObj.totalAmount}}</h2>
          </div>
      </div>
  </div>
</div>

